.container
{
	width: 95%;
	margin: auto;
	background-color: AliceBlue;
	box-shadow: 10px 10px 5px #888888;
}
.left-container 
{
	background-color: lightblue;
	width: 45%;
	float: left;
	  box-shadow: 10px 10px 5px #888888;
}
.left-container2 
{
	background-color: lightblue;
	width: 550px;
	float: left;
	box-shadow: 5px 5px 5px #DCDCDC;
}

.title
{
	float: left;
}
.menu
{
	float: right;
}
.clear
{
	clear: both;
}
a.menu-item
{
	color: black;
	margin:20 px;

}
a.menu-item:link
{
   color: black;
}
a.menu-item:hover
{
	color: blue;
}
.profile
{
	background-color: lightblue;
	float: right;
	width: 45%;
	text-align: center;
	box-shadow: 10px 10px 5px #888888;
}
.submit_button
{
color: #FFFAF0;
width: 75px;
height: 30px;
background-color: #1E90FF;
}
.container2
{
	width: 400px;
	float: center;
	text-align: center;
}
html
{
	height: 100%;
}
body
{
	min-height: 100%;
}
